# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# example
# DATABASE_URL="postgresql://postgres:postgre123@localhost:5432/backtix?schema=public"
DATABASE_URL="postgresql://<username>:<password>@<host>:5432/backtix?schema=public"

HOST=localhost
PORT=3000

BASE_URL=http://localhost:3000/

# Jika memakai cloud storage dll
# if using cloud storage
# STORAGE_BASE_URL=

REDIS_HOST=localhost # 127.0.0.1
REDIS_PORT=6379
REDIS_TTL=604800

ACCESS_TOKEN_KEY=youraccesstokenkey
REFRESH_TOKEN_KEY=yourrefreshtokenkey
ACCESS_TOKEN_EXPIRATION=15s
REFRESH_TOKEN_EXPIRATION=30d
REFRESH_TOKEN_TTL=2592000
