<div style="font-family: Helvetica,Arial,sans-serif; min-width:1000px; overflow:auto; line-height:2">
  <div style="border-bottom:1px solid #eee">
    <a href="#" style="font-size:1.4em; color: #00466a; font-weight:700">BackTix</a>
  </div>

  <p style="font-size:1.1em"><b>Hi, {{ name }}</b> ({{ email }})</p>

  <p>
    Use the following CODE to complete your password update for {{ username }}. Code is valid for 5 minutes
  </p>

  <h2 style="margin: 0 auto; width: max-content; padding: 0 10px; color: #00466a;">
    {{ otp }}
  </h2>

  <p style="font-size:0.9em;">Regards,<br />BackTix</p>

  <hr style="border:none;border-top:1px solid #eee" />

  <div>
    <p>BackTix</p>
  </div>
</div>