/* Write your global styles here, in PostCSS syntax */
@import 'tailwindcss';
@config '../tailwind.config.cjs';
@plugin 'flowbite/plugin';
@custom-variant dark (&:where(.dark, .dark *));
@source '../node_modules/flowbite-svelte/**/*.{svelte,js}';
@source '../node_modules/flowbite-svelte-icons/**/*.{svelte,js}';
